@import 'assets/colors';

$playerBlockWidth: 60%;

.playersCalculationBlock {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.playerBlock {
  width: $playerBlockWidth;
  border: 5px solid $black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20px;

  .playerHeader {
    margin: auto;
    color: $black;
  }

  .cardsBlock {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .managePlayersButton {
      margin-bottom: 20px;
    }
  }

  .addLevelsToAll {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top: 1px solid $black;
    padding-top: 20px;
  }
}

.levelsInfo {
  margin: 0 20px 0 0;
  font-size: 16px;
  line-height: 30px;
}

.resultBlock {
  width: calc(100% - #{$playerBlockWidth});
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-top: 5px solid $black;
  border-right: 5px solid $black;
  border-bottom: 5px solid $black;
  padding: 20px;

  .resultsHeader {
    margin: 0 0 20px 0;
  }

  .epPerDayBlock {
    margin-top: 12px;
  }
}

.add {
  margin-left: 20px;
}

.delete {
  margin-right: 20px;
}
