@import 'assets/colors.scss';

.resultTable {
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;

  .difficultName {
    padding: 8px 0 8px 8px;
  }

  .difficult {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    padding: 0;
  }
}
